.landingPage {
  background: linear-gradient(180deg, #36267d 0%, #0f014d 100%);
  border: 1px solid #36267d;
}
.insidelandingPage {
  background: linear-gradient(180deg, #ffffff 0%, #a592e3 100%);
  padding: 10px;
  margin: 40px;
  border-radius: 15px;
  display: flex;
}
.text {
  width: 60%;
}
.text1 {
  position: absolute;
  width: 636px;
  height: 143px;
  top: 227px;
  left: 102px;
  gap: 0px;
  opacity: 0px;
}
.text2 {
  position: absolute;
  width: 606px;
  height: 54px;
  top: 396px;
  left: 102px;
  gap: 0px;
  opacity: 0px;
}
.text3 {
  position: absolute;
  width: 391px;
  height: 85px;
  top: 435px;
  left: 102px;
  gap: 0px;
  opacity: 0px;
}
.btns {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.btns1 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 564px;
  left: 87px;
  gap: 0px;
  border-radius: 24px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #2609a6;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  border: 1px solid #2609a6;
}
.btns2 {
  position: absolute;
  width: 230px;
  height: 65px;
  top: 564px;
  left: 332px;
  gap: 0px;
  border-radius: 24px;
  opacity: 0px;
  background: #2609a6;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  text-align: center;
  border: none;
}
