* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.mainDiv {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  height: 13vh;
  padding-left: 20px;
  padding-right: 40px;
  align-items: center;
}
.logoVx {
  height: 90%;
  border-radius: 50%;
}
.innerDiv {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 40%;
  padding: 10px;
  font-weight: 600;
}
.innerDiv>div:hover {
  cursor: pointer;
}