.ourServiceDiv {
  background: #ebeaef;
}
.mainP {
  font-size: 3.5rem !important;
  text-align: center;
  padding: 10px;
}
.flexDiv {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next row */
  gap: 30px; /* Space between items */
  padding: 30px;
  /* height: 50vh; */
}
.flexDiv Div {
  flex: 1 1 calc(50% - 30px);
  box-sizing: border-box;
  background: #5b43ac7d;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  gap: 0px;
  /* height: 60vh; */
  border: 1px;
  border-radius: 20px;
}
.Obtns {
  font-family: Inria Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /*  */
  border-radius: 10px;
  border: 1px;
  padding: 8px;
  width: 17%;
  text-align: center;
  margin-top: 15px;
}

.ODetails {
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 10px;
}

.Otopic {
  font-family: Inria Sans;
  font-size: 35px;
  font-weight: 400;
  line-height: 47.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  padding: 10px;
}
.imgs {
  height: 250px;
  width: 450px;
  text-align: center;
  border-radius: 20px;
}
